
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.search-nav {
    padding: 15px 7px;
    display: flex;
    align-items: center;
}

.web-logo {
    color: #CF2D2D;
    font-weight: 600;
    font-size: large;
    font-style: normal;
    padding: 0 70px;
    transform: scale(1.2, 1.1);
}

.search-section {
    display: flex;
    align-items: center;
    margin: 0px 110px;
    margin-right: 13px;
}

.web-cat {
    display: flex;
    margin: 0 15px;
    padding: 10px 20px;
    background-color: black;
    color: white;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
}

.web-cat-bar {
    margin-right: 15px;
}

.web-cat p {
    font-weight: 600;
}

.search-container form input {
    width: 600px;
    padding: 10px 20px;
    border-radius: 8px;
    border: 1px solid #989090;
}

.search-container form i {
    color: #989090;
    position: relative;
    left: -45px;
    cursor: pointer;
    padding: 11px 12px;
}


::placeholder {
    font-weight: 400;
} 

.sign-in-section {
    display: flex;
    align-items: center;
}

.sign-in-section i {
    font-size: 17px;
    color: #989090;
}

.sign-in-section p {
    padding: 0 12px;
    font-size: 17px;
}

.sign-in-section button {
    padding: 10px 20px;
    background-color: white;
    border-radius: 8px;
    border: 1px solid #989090;
}


/* Main-nav */
.main-nav {
    display: flex;
    /* background-color: green; */
}

.nav-location {
    /* background-color: darkgrey; */
    display: flex;
    align-items: center;
    margin: 9px 70px;
}

.nav-location i {
    margin-right: 15px;
}

.nav-location p {
    margin-right: 15px;
}

.nav-hamberger {
    /* background-color: grey; */
    display: flex;
    align-items: center;
    width: 900px;
    justify-content: center;
}

.nav-hamberger ul {
    width: 650px;
    display: flex;
    justify-content: space-between;
}

.nav-hamberger ul li {
    list-style: none;
}


/* Provided css data by recruiter */
.provided-data {
    /* Font - Inter; */
    color : #1E2022; /* Font color (Heading) */
    color : #989090; /* Font color (Subtitle)  */
    background-color : #ffffff;
    color : #CF2D2D; /* Logo color */
    color : #B0BABF; /* Stroke/border color */
}
