
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Poppins", sans-serif; */
    font-family: "Inter", sans-serif;
}

/* Navbar search-nav */
.search-nav {
    padding: 15px 7px;
    display: flex;
    align-items: center;
}

.web-logo {
    color: #CF2D2D;
    font-weight: 600;
    font-size: large;
    font-style: normal;
    padding: 0 70px;
    transform: scale(1.2, 1.1);
}

.search-section {
    display: flex;
    align-items: center;
    margin: 0px 110px;
    margin-right: 13px;
}

.web-cat {
    display: flex;
    margin: 0 15px;
    padding: 10px 20px;
    background-color: black;
    color: white;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
}

.web-cat-bar {
    margin-right: 15px;
}

.web-cat p {
    font-weight: 600;
}

.web-cat:hover {
    background-color: #989090;
    color: #1E2022;
}

.search-container form input {
    width: 600px;
    padding: 10px 20px;
    border-radius: 8px;
    border: 1px solid #989090;
}

.search-container form i {
    color: #989090;
    position: relative;
    left: -45px;
    cursor: pointer;
    padding: 11px 12px;
}


::placeholder {
    font-weight: 400;
} 

.sign-in-section {
    display: flex;
    align-items: center;
}

.sign-in-section i {
    font-size: 17px;
    color: #989090;
    cursor: pointer;
}

.sign-in-section p {
    padding: 0 12px;
    font-size: 17px;
    cursor: pointer;
}

.sign-in-section button {
    padding: 10px 20px;
    background-color: white;
    border-radius: 8px;
    border: 1px solid #989090;
    cursor: pointer;
}


/* Main-nav */
.main-nav {
    display: flex;
}

.nav-location {
    display: flex;
    align-items: center;
    margin: 9px 70px;
}

.nav-location i {
    margin-right: 15px;
}

.nav-location p {
    margin-right: 15px;
}

.nav-hamberger {
    display: flex;
    align-items: center;
    width: 900px;
    justify-content: center;
}

.nav-hamberger ul {
    width: 650px;
    display: flex;
    justify-content: space-between;
}

.nav-hamberger ul li {
    list-style: none;
}

.nav-hamberger ul li:hover {
    cursor: pointer;
}


.main-container {
    height: 817px;
    background-image: url(./img/Banner.svg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: top;
    display: flex;
    justify-content: center;

}

.main-text {
    color: white;
    margin: 170px 165px;
}

.main-text div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-text1 p {
    font-size: 65px;
    font-weight: 500;
}

.main-text2 {
    margin-top: 10px;
}
.main-text2 p {
    font-size: 25px;
}


/* Container for Events and Shows */
.container {
    max-width: 1389px;
    margin: 0;
    left: 130px;
    top: -145px;
    position: relative;
}

.shows-heading {
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.head-text {
    display: flex;
    align-items: center;
}

.shows-heading a, .head-text {
    color: white;
}

.head-text p {
    margin-right: 20px;
    font-size: 25px;
    font-weight: 500;
}

.head-text i {
    font-size: 20px;
    transform: scale(1.2);
    cursor: pointer;
}

.shows-heading a {
    position: relative;
    right: 100px;
}

/* Cards container (Scrolling container) */
.scrolling-container {  /* this class is not foud in HTML as well as JS file...ERROR cause */
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
    white-space: nowrap;
    /* overflow: hidden; */
  }

  /* display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 30px; */

  /* .cards-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 30px;
  } */
  .cards-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 50px;
    /* to auto scroll horizontally use below Animation */
    /* animation: moveLeft 10s infinite linear; */
  }
  
  @keyframes moveLeft {
    0% {
      transform: translateX(0);
      /* Start from initial position */
    }
  
    100% {
      transform: translateX(-50%);
      /* Move to the left */
    }
  }
  
  .card:nth-child(1) {
    animation-delay: 0s;
    /* Start animation for first card immediately */
  }
  
  .card:nth-child(2) {
    animation-delay: 3s;
    /* Delay animation for second card by 3 seconds */
  }
  
  
  .card {
    display: inline-block;
    width: 240px;
    height: 380px;
    margin-right: 10px;
    background-size: cover;
    color: black;
    font-family: Arial, sans-serif;
    position: relative;
  }
  
  .card .content {
    width: 200px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    font-size: 12px;
  }
  
  .card .content h2 {
    margin: 0;
  }
  
  .card .content p {
    margin: 5px 0;
  }
  
  .card p:nth-of-type(2) {
    font-size: 8px;
  }
  
  .first,
  .second {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .first h3 {
    width: 50%;
    white-space: break-spaces;
  }


.events-container>p {
    margin-top: 55px;
    font-size: 25px;
    font-weight: 500;
}

.events-section {
    margin-top: 20px;
    width: 1275px;
}

.events-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 37px;
    /* margin-top: 20px; */
    /* background-color: green;*/
  }
  
  .eventCard {
    width: 400px;
    height: 385px;
    border-radius: 8px;
    /* background-color: darkgrey; */
    border: 1px solid #989090;
  }

  .eventCard-p1 {
    padding-left: 5px;
    position: relative;
    bottom: 20px;
    left: 10px;
    font-size: 20px;
    font-weight: 500;
  }

  .eventCard-div2 {
    color: #989090;
    padding-left: 5px;
    position: relative;
    bottom: 12px;
    padding: 0 15px;
    /* left: 10px; */
    /* font-size: 20px; */
    display: flex;
    justify-content: space-between;
  }
  
  .card-img {
    padding: 10px;
  }
  
  .card-img img {
    display: flex;
    width: -webkit-fill-available;
    /* justify-content: center; */
    transform: scale(1.1);
    object-fit: cover;
    clip-path: inset(20px 20px);
  }
  
  
  .card-img p {
    position: relative;
    background-color: #3c3b3b82;
    color: white;
    bottom: 45px;
    left: 2px;
    width: 375px;
    padding: 9px 10px;
  }
  
  
  
  /* display: flex;
      justify-content: center;
      font-size: 61px;
      font-weight: 600; */
  
  
  /* Provided css data by recruiter */
  .provided-data {
    /* Font - Inter; */
    color: #1E2022;
    /* Font color (Heading) */
    color: #989090;
    /* Font color (Subtitle)  */
    background-color: #ffffff;
    color: #CF2D2D;
    /* Logo color */
    color: #B0BABF;
    /* Stroke/border color */
  }
  
  /* https://gg-backend-assignment.azurewebsites.net/api/Events?code=FOX643kbHEAkyPbdd8nwNLkekHcL4z0hzWBGCd64Ur7mAzFuRCHeyQ==&page=1&type=upcoming
  
  */